---
type Props = {

}

const {} = Astro.props

---
<section class="section-wrapper bg-insta color-pink">
    <div class="cic">
        <div class="background-wrapper">
            <img src="/images/worm.png" id="worm-1" alt="">
            <img src="/images/worm.png" id="worm-2" alt="">
        </div>
        <div class="content-wrapper">
            <div class="header-wrapper">
                <div class="line-1">
                    <h1 class="stroke-special">FOLLOW US</h1>
                </div>
                <div class="line-2">
                    <h1 class="stroke-special">ON THE</h1>
                    <img src="/images/gram.svg" alt="">
                </div>
            </div>
            <div class="posts-wrapper">
                <div class="post-wrapper">
                    <img src="/images/insta1.jpg" alt="">
                </div>
                <div class="post-wrapper">
                    <img src="/images/insta2.jpg" alt="">
                </div>
                <div class="post-wrapper">
                    <img src="/images/insta3.jpg" alt="">
                </div>
                <div class="post-wrapper">
                    <img src="/images/insta4.jpg" alt="">
                </div>
                <div class="post-wrapper">
                    <img src="/images/insta5.jpg" alt="">
                </div>
                <div class="post-wrapper">
                    <img src="/images/insta6.jpg" alt="">
                </div>
            </div>
        </div>
    </div>
</section>

<style lang="scss">
.background-wrapper{
    position: absolute;
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    #worm-1{
        transform: rotate(180deg);
    }
    img{
        height: 80vh;
    }
}

.header-wrapper{
    color: var(--loveless-black);
    overflow: hidden;
    width: 40vw;
    
    .line-1{
        display: flex;
        justify-content: flex-start;
    }

    .line-2{
        display: flex;
        justify-content: flex-end;
        gap: var(--spacing-l);
        img{
            height: var(--font-size-4xl);
        }
    }
}

.posts-wrapper{
    display: flex;

    .post-wrapper{
        height: 300px;
        overflow: hidden;
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}
</style>