---
import { links } from '../../utils/links'
type Props = {

}

const {} = Astro.props

---
<script lang="ts">
    function addAnimation() {
    const scrollers = document.querySelectorAll(".scroller");
    scrollers.forEach((scroller) => {
      const scrollerInner = scroller.querySelector(".scroller-inner");
      const scrollerContent = Array.from(scrollerInner.children);

      scrollerContent.forEach((item) => {
        const duplicatedItem = item.cloneNode(true);
        duplicatedItem.setAttribute("aria-hidden", true);
        scrollerInner.appendChild(duplicatedItem);
      });
    });
  }
  
  document.addEventListener('DOMContentLoaded', addAnimation);
</script>
</script>
<section class="section-wrapper bg-blue color-blue">
    <div class="cic">
        <img src="/images/radial-lines.png" class="background-image-2" alt="">
        <div class="content-wrapper">
            <div class="text-wrapper">
                <div class="header-wrapper">
                    <h1 class="back-1 stroke-blue">WHAT'S ON</h1>
                    <h1 class="back-2 stroke-blue">WHAT'S ON</h1>
                    <h1 class="front">WHAT'S ON</h1>
                </div>
                <div class="p-wrapper">
                    <p>MARK YOUR CALENDERS FOR <span id="date">OCTOBER 26TH</span> – IT’S GONNA BE A HELLOWEEN NIGHT YOU WON’T FORGET</p>
                </div>
                <a href={links.tickets} class="button" target="_blank">GET TICKETS NOW</a>
            </div>
            <div class="scroller-wrapper">
                <div class="scroller">
                    <div class="scroller-inner">
                        <img src="/images/poster.png" alt="">
                        <img src="/images/poster.png" alt="">
                        <img src="/images/poster.png" alt="">
                        <img src="/images/poster.png" alt="">
                    </div>
                </div>
                <div class="still">
                    <div class="still-inner">
                        <img src="/images/poster.png" alt="">
                        <img src="/images/poster.png" alt="">
                        <img src="/images/poster.png" alt="">
                    </div>
                </div>
                <div class="scroller" data-direction="down">
                    <div class="scroller-inner">
                        <img src="/images/poster.png" alt="">
                        <img src="/images/poster.png" alt="">
                        <img src="/images/poster.png" alt="">
                        <img src="/images/poster.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<style lang="scss">

    .background-image-2{
        position: absolute;
        width: 100%;
        margin-left: 55%;
        margin-top: 10%;
    }

    .content-wrapper{
        display: flex;
        justify-content: space-between;
        width: 100%;
        height: 100%;
        overflow: visible;
        padding: 10% 0 10% 10%;
    }

    .scroller-wrapper{
        display: flex;
        justify-content: center;
        overflow: visible;
        transform: rotate(10deg);

        .scroller{
            overflow: visible;
            width: 250px;
            min-width: 250px;
            max-height: 100%;
            display: flex;
            align-items: center;
        }

        .scroller-inner{
            display: flex;
            gap: var(--spacing-xs);
            flex-direction: column;
            height: max-content;
            transition: animation 0.3s var(--custom-ease-2);
            animation: scroll var(--animation-duration, 30s)
            var(--animation-direction, forwards) linear infinite;
            animation-play-state: running;
            

            &:hover{
                animation-play-state: paused;
            }
            img{
                border: 2px solid var(--loveless-blue);
                border-radius: var(--radius-xs);
                filter: brightness(60%);
                transition: transform 0.3s var(--custom-ease-1), filter 0.3s var(--custom-ease-1);
                &:hover{
                    filter: brightness(80%);
                    // transform: scale(1.01);
                    // transform-origin: center center;
                }
            }
        }

        .scroller[data-direction="down"] {
            --animation-direction: reverse;
        }

        .scroller[data-direction="up"] {
            --animation-direction: forwards;
        }
        .scroller[data-speed="slow"] {
            --animation-duration: 80s;
        }

        .still{
            overflow: visible;
            width: 500px;
            min-width: 500px;
            max-height: 100%;
            display: flex;
            align-items: center;
            margin: 0 var(--spacing-s);
        }

        .still-inner{
            display: flex;
            gap: var(--spacing-s);
            flex-direction: column;
            height: max-content;
            img{
                border: 3px solid var(--loveless-blue);
                border-radius: var(--radius-xs);
                transition: transform 0.3s var(--custom-ease-1), filter 0.3s var(--custom-ease-1);
                &:hover{
                    // transform: scale(1.01);
                    // transform-origin: center center;
                }
                &:nth-child(1){
                    filter: brightness(60%);
                    &:hover{
                        filter: brightness(80%);
                    }
                }
                &:nth-child(2){
                    filter: brightness(90%);
                    &:hover{
                        filter: brightness(100%);
                    }
                }
                &:nth-child(3){
                    filter: brightness(60%);
                    &:hover{
                        filter: brightness(80%);
                    }
                }
            }
        }
    }

    

    .text-wrapper{
        overflow: visible;
        max-width: 500px;
        .header-wrapper{
            z-index: 0;
            position: relative;
            overflow: visible;
            margin-bottom: var(--spacing-4xl);
            .back-1{
                z-index: 10;
                color: var(--loveless-black);
                position: absolute;
                transform: translateY(var(--spacing-2xl));
            }
            .back-2{
                z-index: 10;
                color: var(--loveless-black);
                position: absolute;
                transform: translateY(calc(-1 * var(--spacing-l)));
            }
            .front{
                position: relative;
                z-index: 20;
                font-family: 'Mortend', 'sans-serif';
                font-size: var(--font-size-6xl);
                display: inline-block;
                padding-top: 10px;
                background-color: var(--loveless-black);
            }
        }

        .p-wrapper{
            color: var(--loveless-white);
            font-size: var(--font-size-xl);
            margin-bottom: var(--spacing-l);
            margin-right: var(--spacing-7xl);
            #date{
                color: var(--loveless-blue);
            }
        }

        .button {
            display: inline-block;
            padding: 12px 24px;
            background-color: var(--loveless-blue);
            color: var(--loveless-black);
            font-size: var(--font-size-m);
            font-weight: 700;
            border-radius: var(--radius-m);
            text-align: center;
            text-decoration: none;
            transition: background-color 0.3s, transform 0.2s ease-in-out;

            &:hover {
                background-color: var(--loveless-blue-dark);
                transform: translateY(calc( -1 * var(--spacing-2xs)));
            }
        }
    }
    @keyframes scroll {
    to {
        transform: translateY(calc(-25% - 0.25rem));
    }}
    
</style>
