@font-face {
    font-family: 'Mortend';
    src: url('/fonts/mortend.woff2') format('woff2'),
         url('/fonts/mortend.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'TT';
    src: url('/fonts/TT.woff2') format('woff2'),
            url('/fonts/TT.woff2') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    box-sizing: border-box;

    font-family: 'TT', sans-serif;

    --loveless-pink: hsl(304,90%,67%,100%);
    --loveless-blue: hsl(180,60%,66%,100%);
    --loveless-blue-dark: hsl(180,60%,46%,100%);
    --loveless-black: hsl(0,0%,0%);
    --loveless-white: hsl(0,0%,100%);
    --instagram-gradient-1: radial-gradient(
        circle,
        rgba(255, 27, 144, 1) 24%,
        rgba(248, 2, 97, 1) 44%,
        rgba(237, 0, 192, 1) 69%,
        rgba(197, 0, 233, 1) 78%,
        rgba(112, 23, 255, 1) 89%
    );
    --instagram-gradient-2: radial-gradient(
        circle,
        rgba(255, 208, 0, 1) 9%,
        rgba(255, 105, 48, 1) 44%,
        rgba(254, 59, 54, 1) 69%,
        rgba(255, 105, 48, 0) 100%
    );
    --custom-ease-1: cubic-bezier(0.475,0.425,0,0.995);
    --custom-ease-2: cubic-bezier(0.835,-0.005,0.06,1);
    --custom-ease-3: cubic-bezier(0.19,1,0.22,1);
    --custom-ease-4: cubic-bezier(0.63,0.03,0.21,1);
    --primary-ease: var(--custom-ease-1);

    --spacing-2xs: .25rem;
    --spacing-xs: .50rem;
    --spacing-s: .75rem;
    --spacing-m: 1rem;
    --spacing-l: 1.5rem;
    --spacing-xl: 2rem;
    --spacing-2xl: 2.5rem;
    --spacing-3xl: 3rem;
    --spacing-4xl: 4rem;
    --spacing-5xl: 5rem;
    --spacing-6xl: 6rem;
    --spacing-7xl: 7rem;

    --radius-2xs: .125rem;
    --radius-xs: .25rem;
    --radius-s: .375rem;
    --radius-m: .5rem;
    --radius-l: .75rem;
    --radius-xl: 1rem;
    --radius-2xl: 1.5rem;

    --font-size-s: .875rem;
    --font-size-m: 1rem;
    --font-size-l: 1.25rem;
    --font-size-xl: 1.5rem;
    --font-size-2xl: 2rem;
    --font-size-3xl: 2.5rem;
    --font-size-4xl: 3rem;
    --font-size-5xl: 3.5rem;
    --font-size-6xl: 4rem;
}

h2, h3, h4, h5, h6, p, li, a {
    margin: 0; 
    padding: 0;
}

h1{
    font-family: 'Mortend', sans-serif;
    font-size: var(--font-size-6xl);
    line-height: 1;
    padding: 0;
}
/* MISCELLANEOUS STYLES */
.bg-pink{
    background-color: var(--loveless-pink);
}
.bg-blue{
    background-color: var(--loveless-blue);
}
.color-pink{
    color: var(--loveless-pink);
}
.color-blue{
    color: var(--loveless-blue);
}

.stroke-pink{
    text-shadow: 
        1px 1px 0px var(--loveless-pink),
        -1px 1px 0px var(--loveless-pink),
        1px -1px 0px var(--loveless-pink),
        -1px -1px 0px var(--loveless-pink);
}
.stroke-blue{
    text-shadow: 
        1px 1px 0px var(--loveless-blue),
        -1px 1px 0px var(--loveless-blue),
        1px -1px 0px var(--loveless-blue),
        -1px -1px 0px var(--loveless-blue);
}
.stroke-special{
    text-shadow: 
        1rem 1rem 0px var(--loveless-black),
        -1rem 1rem 0px var(--loveless-black),
        1rem -1rem 0px var(--loveless-black),
        -1rem -1rem 0px var(--loveless-black);
}

/* SECTION BASE STYLING */
.section-wrapper {
    width: 100vw;
    min-height: 100vh;
    padding: var(--spacing-s);
    display: flex;
    flex-direction: column;
}

.cic {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    border-radius: var(--radius-2xl);
    background-color: var(--loveless-black);

    .background-image {
        z-index: 0;
        position: absolute;
        inset: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}