---
import Layout from '../layouts/Layout.astro';

const galleryImages = [
  '/images/gallery/MrLoveless90s-081.jpg',
  '/images/gallery/MrLoveless90s-090.jpg',
  '/images/gallery/MrLoveless90s-102.jpg',
  '/images/gallery/MrLoveless90s-107.jpg',
  '/images/gallery/MrLoveless90s-111.jpg',
  '/images/gallery/MrLoveless90s-115.jpg',
  '/images/gallery/MrLoveless90s-118.jpg',
  '/images/gallery/MrLoveless90s-120.jpg',
  '/images/gallery/MrLoveless90s-125.jpg',
  '/images/gallery/MrLoveless90s-128.jpg',
  '/images/gallery/MrLoveless90s-133.jpg',
  '/images/gallery/MrLoveless90s-147.jpg',
  '/images/gallery/MrLoveless90s-157.jpg',
  '/images/gallery/MrLoveless90s-159.jpg',
  '/images/gallery/MrLoveless90s-162.jpg',
  '/images/gallery/MrLoveless90s-164.jpg',
  '/images/gallery/MrLoveless90s-166.jpg',
  '/images/gallery/MrLoveless90s-168.jpg',
  '/images/gallery/MrLoveless90s-180.jpg',
  '/images/gallery/MrLoveless90s-184.jpg',
];

type Props = {};

const {} = Astro.props;

---
<Layout title="Mr. Loveless Brisbane">
	<main>
		<section class="gallery-wrapper bg-pink color-pink">
            <div class="gallery-cic-14124">
                <div class="selector-wrapper-32r32">
                    <a href="">
                        <svg xmlns="http://www.w3.org/2000/svg" class="left" viewBox="0 0 512 512"><path d="M233.4 406.6c12.5 12.5 32.8 12.5 45.3 0l192-192c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L256 338.7 86.6 169.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3l192 192z"/></svg>
                    </a>
                    <p>90S THROWBACK</p>
                    <a href="">
                        <svg xmlns="http://www.w3.org/2000/svg" class="right" viewBox="0 0 512 512"><path d="M233.4 406.6c12.5 12.5 32.8 12.5 45.3 0l192-192c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L256 338.7 86.6 169.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3l192 192z"/></svg>
                    </a>
                </div>
                <div class="gallery-2352">
                    {galleryImages.map((imagePath) => (
                        <div class="gallery-item-2352">
                            <img src={imagePath} class="gallery-image-2352" alt="Gallery Image" />
                        </div>
                    ))}
                </div>
            </div>
        </section>
	</main>
</Layout>

<style lang="scss">
    .gallery-wrapper {
        width: 100vw;
        min-height: 100vh;
        padding: var(--spacing-s);
        
        .gallery-cic-14124 {
            position: relative;
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            border-radius: var(--radius-2xl);
            background-color: var(--loveless-black);
            overflow: hidden;
        }
    }

    .gallery-2352 {
        width: 100%;
        height: 100%;
        display: flex;
        flex-wrap: wrap;
        gap: var(--spacing-xs);
        
        .gallery-item-2352 {
            position: relative;
            flex: 1 1 20%;
            min-width: 200px;
            min-height: 200px;
            overflow: hidden;

            .gallery-image-2352 {
                width: 100%;
                height: 100%; 
                object-fit: cover;
                position: absolute;
                top: 0;
                left: 0;
                filter: brightness(60%);
            }
        }
    }

    .selector-wrapper-32r32 {
        z-index: 100;
        position: absolute;
        width: max-content;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: var(--spacing-m);
        background-color: var(--loveless-black);
        padding: var(--spacing-2xs) var(--spacing-m);
        border-radius: var(--radius-m);
        margin-top: var(--spacing-s);
        p {
            font-size: var(--font-size-xl);
            font-family: 'Mortend', 'TT';
        }
        .left{
            fill: var(--loveless-pink-dark);
            transform: rotate(90deg);
            width: 30px;
        }
        .right{
            fill: var(--loveless-pink-dark);
            transform: rotate(270deg);
            width: 30px;
        }
    }
</style>
