---
import Layout from '../layouts/Layout.astro';
import SplashHandler from '../components/splash/SplashHandler.astro'
import { getCollection } from 'astro:content';

const allEvents = await getCollection('events');
---

<Layout title="Mr Loveless Brisbane">
	<main>
		<SplashHandler :events={allEvents} />
	</main>
</Layout>

<style>
	
</style>
