---
import Hero from '../components/landing/Hero.astro';
import WhatsOn from '../components/landing/WhatsOn.astro';
import GetReady from '../components/landing/GetReady.astro';
import Instagram from '../components/landing/Instagram.astro';

import Layout from '../layouts/Layout.astro';
---

<Layout title="Mr. Loveless Brisbane">
	<main>
		<Hero/>
		<WhatsOn/>
		<GetReady/>
		<Instagram/>
	</main>
</Layout>

<style>
	
</style>
