---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/landing/Hero.astro';
import WhatsOn from '../components/landing/WhatsOn.astro';
import GetReady from '../components/landing/GetReady.astro';
import Instagram from '../components/landing/Instagram.astro';

import { getCollection } from 'astro:content';

const allEvents = await getCollection('events');

---
<script>

</script>
<Layout title="Mr Loveless Brisbane">
   <main>
     <Hero events={allEvents} />
     <WhatsOn events={allEvents} />
     <GetReady events={allEvents} />
     <Instagram />
   </main>
</Layout>

