---
import Hero from '../components/Hero.astro';
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="Mr. Loveless Brisbane">
	<main>
		<Hero color='pink'/>
	</main>
</Layout>

<style>
	
</style>
