---
import Container from '../components/Container.astro';
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="Mr. Loveless Brisbane">
	<main>
		<Container color='pink'/>
		<Container color='blue'/>
	</main>
</Layout>

<style>
	
</style>
