---
type Props = {
    color: string;
}

const {color} = Astro.props

---
<section class={`w-screen min-h-screen p-6 flex flex-col ${color == 'pink' ? 'bg-loveless-pink' : 'bg-loveless-blue'}`}>
    <div class="w-full h-full p-6 flex-grow rounded-3xl text-loveless-pink bg-loveless-black">
        <p>HELLO</p>
    </div>
</section>